<a href="/" aria-label="Site logo">
  <img
  src="/images/the-foundation-block.svg" alt="Shawn Sandy" width="320" height="98"/>
{# <img src="{{ settings.logo_url }}" alt="Shawn Sandy" width="100" height="100"/> #}
</a>
