{% extends "base.njk" %}
{% block cover %}
  <section>
    <h2
      role="decoration" class="text-center- quote">
      {# <img src="/images/quote-fr.svg" alt=""> #}
      {{ settings.subtitle }}
    </h2>
    {# <hr/> #}
  </section>
  <section>
    {{ feature.featured('featured', 3) }}
  </section>
  {# {% include "partials/hero.njk" %} #}
{% endblock %}
{% block content %}
  <section id="lifestyle" class="page-links">
    {{ feature.featured('lifestyle', 6) }}
  </section>
  {{ super() }}
{% endblock %}
